div.user-table {
  box-sizing: border-box;
  position: absolute;
  width: 1037px;
  height: 640px;
  left: 343px;
  top: 428px;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

div.header-row {
  display: flex;
  position: absolute;
  width: 977px;
  height: 578px;
  margin: 30px;
  flex-direction: row;
  gap: 35px;
  justify-content: space-between;
}

div.data-row {
  display: flex;
  justify-content: space-between;
}

div.cell1 {
  width: 116px;
  height: 571px;
}

div.cell2 {
  width: 106px;
  height: 571px;
}

div.cell3 {
  width: 147px;
  height: 571px;
}
